<!-- head navbar starts-->
<ion-header>
  <ion-navbar>
      <ion-title><p class="text-color">Detailview</p></ion-title>
    </ion-navbar>
</ion-header>
<!--head navbar ends-->

<!--body starts-->
<ion-content class="body-content">
     <ion-card class="top_dist">
       <ion-card-header>
          <ion-row>
		        <ion-col col-5>
		          <img src="assets/img/background.png">
		        </ion-col>
		        <ion-col col-7>
		            <br>
		            <p class="fontsz">{{name}}</p>
		            <p class="fontsz">
		            	<ion-row>
			            	<ion-col col-6 class="amt">
			            	   <div *ngIf="sdata.choices[0]">$ {{sdata.choices[0].min_price}}</div>
                       <div *ngIf="!sdata.choices[0]">NA</div>
			                </ion-col>

		                </ion-row>
		            </p>
		            <p class="fontsz amt">{{rname}}</p>
		            <ion-row>
				      <ion-col class="img-dir"><img class="meter" src="assets/icon/meter-best.svg"></ion-col>
				      <ion-col class="img-dir"><img src="assets/icon/direction-drive.svg"></ion-col>
				      <ion-col class="img-dir"><img src="assets/icon/dine-in.svg"></ion-col>
				      <ion-col class="img-dir"></ion-col>
				      <ion-col class="img-dir"></ion-col>
				    </ion-row>
		        </ion-col>
		     </ion-row>
       </ion-card-header>
       <ion-card-content>
           <ion-row class="row-line">
              <ion-col col-4 class="sidebor" (click)="alreadyaddfav()" *ngIf="favourite">
                 <img src="assets/img/fav.png" class="icon_width">
                 <p class="detail_opt" >Favourite</p>
              </ion-col>
               <ion-col col-4 class="sidebor" (click)="addfav()" *ngIf="!favourite">
                 <img id="favimg" src="assets/icon/Favorites_icon.svg" class="icon_width">
                 <p class="detail_opt" >Favourite</p>
              </ion-col>
              <ion-col col-4 class="sidebor" >
                 <img src="assets/icon/add-to-cart.svg" class="icon_width">
                 <p class="detail_opt">Cart</p>
              </ion-col>
             <ion-col col-4 (click)="presentActionSheet(name)">
                 <img src="assets/icon/Share_icon.svg" class="icon_width">
                 <p class="detail_opt">Share</p>
              </ion-col>
           </ion-row>
           <hr>
           <img src="assets/icon/map-icon.svg" class="direction dirct0"> <span>0.3 mi</span>

           <span class="enddiv">
                  <p class="directionmap" (click)="direct(lat,long)">Direction <ion-icon name="compass"></ion-icon>
                </p>
            </span>
           <hr>
            <ion-list>
		        <ion-item padding *ngFor="let d of data" (click)="goto_detailmodal(d.value)" [ngStyle]="{'background-color': d.bgcolor, 'margin-bottom': '2px'}">
		           <ion-icon color="primary" item-right [name]="d.icon"></ion-icon>
		           {{d.title}}
		       </ion-item>
            </ion-list>
       </ion-card-content>

</ion-card>

</ion-content>
<!-- body ends-->
