<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-row>
              <ion-col col-4>
                   <div *ngIf='userReady'><img [src]="user.picture" style="width:100%;"></div>
                   <div *ngIf='!userReady'><img src="assets/img/user.png" style="width:100%;"></div>
              </ion-col>
              <ion-col col-8>
                  <div *ngIf='userReady' style="margin-top:19px;margin-left:16px">{{user.name}}</div>
                  <div *ngIf='!userReady' style="margin-top:15px;margin-left:16px"> <h3>Suvojit Kar</h3>OOTA </div>
              </ion-col>
          </ion-row>
     <!-- <div *ngIf='userReady'>
      <img [src]="user.picture" style="width:100%">
    </div>
    <div *ngIf='!userReady'>
      <img src="assets/img/user.png" style="width:100%">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTycewbr9Y9lN7Qn1Yl5e9CHBbleZpUMjqD23wcfOp5FKbhNMeUSg" style="width:100%">
    </div> -->
    </ion-toolbar>
  </ion-header>
  <ion-content >

    <ion-list>
      <!-- <button menuClose ion-item>
          <ion-row>
              <ion-col col-3>
                  <img src="assets/img/user.png" style="width:100%;">
              </ion-col>
              <ion-col col-9>
                  <div *ngIf='userReady' style="margin-top:21px;margin-left:16px">{{user.name}}</div>
                  <div *ngIf='!userReady' style="margin-top:21px;margin-left:16px"> Suvojit Kar </div>
              </ion-col>
          </ion-row>
      </button> -->
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" style="padding-right: 10%"></ion-icon> {{p.title}}
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" style="float:right"></ion-icon>
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-icon name="arrow-back" style="padding-right: 10%"></ion-icon> logout
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" style="float:right"></ion-icon>
      </button>
       <button menuClose ion-item style="position:absolute;bottom: 0;text-align:center;color:grey">Contact us | More</button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
